@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Onest:wght@100..900&display=swap');

html {
  font-size: 16px;
  width: 1200px;
  height: 8070px;
  margin-left: 150px;
  margin-right: 150px;
}

header {
  width: 1202px;
  height: 108px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 0px 20px;
  border-radius: 0px 0px 30px 30px;
  background: var(--white, rgba(255, 255, 255, 1));
}

.logo {
  background: url('/картинки/Frame\ 738001144.jpg');
  width: 254px;
  height: 54px;
  margin-bottom: 35px;
}

.artheclock {
  width: 121px;
  height: 12px;
  color: rgba(30, 30, 30, 0.7);
  font-family: Onest;
  font-style: Regular;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: left;
}

.addres {
  color: black;
  width: 283px;
  height: 24px;
  font-family: Onest;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 60px;
}

.telephone {
  color: black;
  /* Phone */
  width: 150px;
  height: 24px;
  font-family: Onest;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0px;
}

.menu {
  background: url('/картинки/BurgerMenu.png');
  width: 35px;
  height: 16px;
  display: flex;
  gap: 10;
  border: none;
}

body {
  background-color: rgba(73, 105, 55, 1);
  color: aliceblue;
}

.doctor-toma {
  position: relative;
  z-index: -1;
  top: -25px;
  width: 1240px;
  height: 993px;
  opacity: 1;
  background: linear-gradient(270.00deg, rgba(255, 181, 0, 1), rgba(255, 134, 5, 1) 100%);
  text-align: center;
}

.svg {
  position: relative;
}

.centr {
  position: absolute;
  top: 0;
  width: 827px;
  height: 332px;
  padding-top: 531px;
  padding-left: 187px;
  padding-bottom: 130px;
  padding-right: 186px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40;
  text-align: center;
}

.centr1 {
  width: 827px;
  height: 96px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0px;
  text-align: center;

}

.centr1-1 {
  font-family: Great Vibes;
  font-weight: 100;
  font-size: 3.5rem;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}

.text1 {
  width: 521px;
  height: 96px;
  color: rgba(250, 248, 247, 0.9);
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}

.appointment-btn {
  display: inline-block;
  width: 380px;
  height: 60px;
  top: 20px;
  left: 20px;
  border-radius: 14px;
  gap: 10px;
  opacity: 1;
  padding-top: 27px;
  padding-right: 20px;
  padding-bottom: 27px;
  padding-left: 20px;
  border: none;
  font-family: Onest;
  font-size: 0.9rem;
  font-weight: 350;
  line-height: 5px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.5px;
  background: url('/картинки/8ce7eca279b0914984b1afc3d305bf44318c3b9a.png') no-repeat, rgba(73, 105, 55, 1);
  background-position: 65px 50%;
  background-size: 25px;
  color: white;

}

.december-item {
  position: relative;
  top: -70px;
  width: 1200px;
  height: 510px;
  opacity: 1;
  border-radius: 20px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 70px;
  padding-left: 20px;
  gap: 30px;
  background: var(--white, rgba(255, 255, 255, 1));
}

.button {
  width: 1160px;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dec {
  width: 173px;
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgba(73, 105, 55, 1);
  font-family: Onest;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
  border: 1.5px solid var(--green, rgba(73, 105, 55, 1));
  border-radius: 50px;
}

.item {
  width: 1200px;
  height: 394px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px;
  gap: 10;
}

.image-text-container {
  background: url('/картинки/dd2a6d75726f47721b333febace7521486082d42.png')no-repeat;
  background-size: contain;
  width: 370px;
  height: 394px;
  gap: 58;
  padding: 10px 0px 30px 20px;
  border-radius: 20px;
}

.image1 {
  width: 341px;
  height: 164px;
  color: rgba(250, 248, 247, 0.9);
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding: 280px 19px 0px 5px;
}

.image-text-container2 {
  background: url('/картинки/f98f91ed073f31c84b46370b62e3c4d390664136.png')no-repeat;
  background-size: contain;
  width: 370px;
  height: 394px;
  gap: 30;
  padding: 10px 0px 30px 20px;
  border-radius: 20px;
}

.image2 {
  width: 341px;
  height: 96px;
  color: var(--white 90%, rgba(250, 248, 247, 0.9));
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding: 245px 19px 0px 5px;
}

.image-text-container3 {
  background: url('/картинки/f75755d3754d8cd5fe6e83b4f64c93a8c8ccdd7b.png')no-repeat;
  background-size: contain;
  width: 370px;
  height: 394px;
  gap: 30;
  padding: 10px 0px 30px 20px;
  border-radius: 20px;
}

.image3 {
  width: 341px;
  height: 96px;
  color: var(--white 90%, rgba(250, 248, 247, 0.9));
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding: 245px 19px 0px 5px;
}

.promotion1-btn {
  position: relative;
  top: 0.5px;
  right: -470px;
  width: 46px;
  height: 46px;
  opacity: 1;
  border: none;
  font-size: 1.5rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  background-color: rgba(111, 140, 95, 0.5);
  color: white;
}

.promotion2-btn {
  position: relative;
  right: -30px;
  width: 46px;
  height: 46px;
  opacity: 1;
  border: none;
  font-size: 1.5rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  background-color: rgba(111, 140, 95, 1);
  color: white;
}

.vektor-1 {
  position: absolute;
  top: 590px;
  left: 1110px;
  z-index: 1;
  background: url('/картинки/Vector_9.svg.png') no-repeat;
  width: 96px;
  height: 93px;
  background-size: 100%;
}

.info {
  position: relative;
  left: 20px;
  width: 1200px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 263;
  margin-bottom: 50px;
}

.about {
  width: 130px;
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 0px 7px 0px;
  gap: 10;
  box-sizing: border-box;
  border: 1px solid rgba(250, 248, 247, 0.9);
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 300;
}

.preim {
  position: relative;
  top: -97px;
  width: 568px;
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40;
  color: rgba(255, 255, 255, 1);

}

.principle {
  width: 526px;
  height: 58px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 3rem;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0px;
  padding: 0px 241px 50px 393px;
}

.care {
  font-family: Great Vibes;
  color: var(--white, rgba(255, 255, 255, 1));
  font-weight: 400;
  line-height: 60px;
  font-size: 50px;
}

.inf {
  width: 568px;
  height: 128px;
  color: rgba(250, 248, 247, 0.9);
  font-family: Onest;
  font-size: 1.5rem;
  line-height: 35px;
  padding: 100px 291px 120px 390px;
}

.vector-2 {
  position: absolute;
  top: -120px;
  left: -140px;
  z-index: -1;
  background: url('/картинки/Vector.png') no-repeat;
  width: 708px;
  height: 251px;
  background-size: 100%;
}

.vector-3 {
  position: absolute;
  top: 3565px;
  left: 275px;
  z-index: -1;
  background: url('/картинки/vector2.png') no-repeat;
  width: 801px;
  height: 246px;
  background-size: 100%;
}

.advantages {
  width: 1160px;
  position: relative;
  left: 20px;
}

.advantage {
  width: 1160px;
  height: 1370px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10 10;
}

.advantage1 {
  background: url('/картинки/Без\ названия7_20251205135223.jpg') no-repeat;
  background-size: contain;
  width: 380px;
  height: 450px;
  border-radius: 20px;
}

.adv1 {
  width: 340px;
  height: 76px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 2rem;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  padding: 122px 20px 0px 20px;
}

.adv1-1 {
  width: 340px;
  height: 128px;
  color: var(--white 90%, rgba(250, 248, 247, 0.9));
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding: 30px 20px 30px 20px;
}

.advantage2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/картинки/82a7719bf88b452451e85d1d86fc32243ab47f9b.jpg') no-repeat;
  background-size: 100%;
  width: 770px;
  height: 450px;
  border-radius: 20px;
}

.adv2 {
  position: relative;
  top: -35px;
  width: 404px;
  height: 38px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 2rem;
  font-weight: 500;
  line-height: 38px;
  text-align: left;
  padding: 5px 346px 0px 20px
}

.adv2-2 {
  position: relative;
  top: -40px;
  width: 367px;
  height: 96px;
  color: var(--white 90%, rgba(250, 248, 247, 0.9));
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 320;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  padding: 224px 383px 30px 20px;
}

.only-us {
  position: relative;
  top: 30px;
  left: 590px;
  width: 150px;
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  border-radius: 50px;
  background: var(--white, rgba(255, 255, 255, 1));
  color: var(--black, rgba(30, 30, 30, 1));
  font-family: Onest;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

.advantage3 {
  background: url('/картинки/Без\ названия8_20251205135510.jpg') no-repeat;
  background-size: cover;
  width: 380px;
  height: 450px;
  border-radius: 20px;
}

.adv3 {
  width: 289px;
  height: 76px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 2rem;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  padding: 132px 71px 0px 20px;
}

.adv3-3 {
  width: 303px;
  height: 128px;
  color: var(--white 90%, rgba(250, 248, 247, 0.9));
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 320;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: left;
  padding: 24px 57px 30px 20px;
}

.advantage4 {
  background-color: rgba(231, 99, 42, 1);
  width: 380px;
  height: 450px;
  border-radius: 20px;
}

.adv4 {
  width: 287px;
  height: 76px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  padding: 5px 83px 0px 20px;
}

.adva {
  display: block;
  width: 316px;
  height: 35px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Great Vibes;
  font-size: 3.125rem;
  font-weight: 400;
  text-align: left;
  padding: 0px 44px 0px 0px;
}

.adv4-4 {
  width: 340px;
  height: 128px;
  color: var(--white 90%, rgba(250, 248, 247, 0.9));
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 320;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding: 138px 20px 30px 20px;
}

.advantage5 {
  background: url('/картинки/Без\ названия9_20251205135703.jpg') no-repeat;
  background-size: cover;
  width: 380px;
  height: 450px;
  border-radius: 20px;
}

.adv5 {
  width: 277px;
  height: 76px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 2rem;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  padding: 132px 83px 0px 20px;
}

.adv5-5 {
  width: 331px;
  height: 128px;
  color: var(--white 90%, rgba(250, 248, 247, 0.9));
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 320;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  padding: 25px 29px 30px 20px;
}

.advantage6 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/картинки/09584c1a2d2224c60e28b18fc87a5aa844e8ee5a.jpg') no-repeat;
  background-size: 100%;
  width: 770px;
  height: 450px;
  border-radius: 20px;
}

.adv6 {
  position: relative;
  top: -35px;
  width: 356px;
  height: 76px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 2rem;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  padding: 5px 394px 0px 20px;
}

.adv6-6 {
  position: relative;
  top: -40px;
  width: 420px;
  height: 96px;
  color: var(--white 90%, rgba(250, 248, 247, 0.9));
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 320;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  padding: 200px 330px 30px 20px;
}

.advantage7 {
  background: url('/картинки/goat\ 1\ \(1\).png') no-repeat, rgba(111, 140, 95, 1);
  background-position: 5% 10%;
  width: 380px;
  height: 450px;
  border-radius: 20px;
}

.adv7 {
  width: 340px;
  height: 114px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 2rem;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  padding: 123px 20px 0px 20px;
}

.adv7-7 {
  width: 340px;
  height: 128px;
  color: var(--white 90%, rgba(250, 248, 247, 0.9));
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 320;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  padding: 7px 20px 30px 20px;
}

.call-home {
  position: relative;
  top: 120px;
  left: 20px;
  background: url('/картинки/98fe77bf75c042f296dfeb9e936f01fd4d544ea4-_1_.jpg') no-repeat;
  background-size: 100%;
  border-radius: 23px;
  width: 1165px;
  height: 922px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10;

}

.text2 {
  width: 484px;
  height: 694px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60;
  padding: 0px 80px 0px 0px;
}

.call {
  width: 484px;
  height: 58px;
  color: rgba(255, 255, 255, 1);
  font-family: Onest;
  font-size: 3rem;
  letter-spacing: 0px;
  padding: 50px 80px 0px 0px;
}

.call-1 {
  position: relative;
  top: -35px;
  width: 482px;
  height: 64px;
  color: rgba(255, 255, 255, 1);
  font-family: Onest;
  font-size: 1.5rem;
  letter-spacing: 0px;
  align-items: right;
}

.namee {
  background: transparent;
  float: right;
  clear: both;
  width: 484px;
  height: 78px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  color: aliceblue;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 22px;
  gap: 10;
  box-sizing: border-box;
  border: 1px solid var(--white, rgba(255, 255, 255, 1));
  border-radius: 14px;
  padding-left: 20px;
  margin-bottom: 15px;
}

.num {
  background: transparent;
  float: right;
  clear: both;
  width: 484px;
  height: 78px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  color: aliceblue;
  gap: 10;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 22px;
  box-sizing: border-box;
  border: 1px solid var(--white, rgba(255, 255, 255, 1));
  border-radius: 14px;
  padding-left: 20px;
  margin-bottom: 15px;
}

.confidence {
  width: 484px;
  height: 10px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 0.6rem;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 10px;
}

.servises {
  position: relative;
  top: 190px;
  left: 20px;
  width: 1160px;
  height: 745px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60;
  color: rgba(255, 255, 255, 1);
}

.caption {
  width: 1160px;
  height: 207px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 23px;
}

.ysl {
  width: 100px;
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--white, rgba(255, 255, 255, 1));
  border-radius: 50px;
  padding: 5px 0px 5px 0px;
  margin-top: 40px;
}

.help {
  width: 577px;
  height: 207px;
  font-family: Onest;
  font-size: 3rem;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 300px;
}

.urget {
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Great Vibes;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
}

.vector-4 {
  position: absolute;
  top: 280px;
  left: -55px;
  z-index: -1;
  background: url('/картинки/svg.png') no-repeat;
  width: 563px;
  height: 129px;
  background-size: 100%;
}

.list {
  width: 1164px;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 75px;
}

.diagnostics {
  background: url('/картинки/Icon\ \(1\).png') no-repeat, url('/картинки/Ээене.png') no-repeat;
  background-size: 56px 56px, 100%;
  background-position: 5% 10%, center;
  width: 283px;
  height: 282px;
  border-radius: 20px;
}

.diagn {
  width: 224px;
  height: 64px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  padding: 180px 39px 20px 20px;
}

.laboratory {
  background: url('/картинки/download.png') no-repeat, url('/картинки/92d32d0aec53d9ffb59316c1998ccbc2a15e2308.png') no-repeat;
  background-size: 56px 56px, 100%;
  background-position: 5% 10%, center;
  width: 283px;
  height: 282px;
  border-radius: 20px;
}

.lab {
  width: 224px;
  height: 64px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  padding: 180px 39px 20px 20px;
}

.surgery {
  background: url('/картинки/Icon.png') no-repeat, url('/картинки/Л.png') no-repeat;
  background-size: 56px 56px, 100%;
  background-position: 5% 10%, center;
  width: 283px;
  height: 282px;
  border-radius: 20px;
}

.surg {
  width: 224px;
  height: 32px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  padding: 210px 39px 20px 20px;
}

.therapy {
  background: url('/картинки/Icon\ \(3\).png') no-repeat, rgba(111, 140, 95, 0.5);
  background-position: 5% 10%;
  width: 283px;
  height: 282px;
  border-radius: 20px;
}

.therap {
  width: 224px;
  height: 64px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  padding: 180px 39px 20px 20px;
}


.all-services-btn {
  display: inline-flex;
  position: relative;
  text-align: center;
  width: 350px;
  height: 60px;
  top: 20px;
  left: 405px;
  border-radius: 14px;
  gap: 10px;
  opacity: 1;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 110px;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  background-color: rgba(231, 99, 42, 1);
  color: white;
}

.specialists {
  position: relative;
  top: 290px;
  left: 20px;
  width: 1160px;
  height: 666px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60;
  text-align: center;
  margin-bottom: 200px;
}

.cont {
  width: 1160px;
  height: 156px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 130px;
}

.spec {
  width: 146px;
  height: 34px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 7px 20px 7px 20px;
  box-sizing: border-box;
  border: 1px solid var(--white, rgba(255, 255, 255, 1));
  border-radius: 50px;
  font-family: Onest;
  font-size: 1.13rem;
  font-weight: 300;
  margin-top: 50px;
}

.container2 {
  width: 779px;
  height: 126px;
  padding-left: 231px;
  padding-bottom: 120px;
  margin-bottom: 50px;
}

.experience {
  width: 610px;
  height: 58px;
  color: rgba(255, 255, 255, 1);
  font-family: Onest;
  font-size: 3rem;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0px;

}

.exp {
  width: 478px;
  height: 35px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Great Vibes;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
}

.vector-5 {
  position: absolute;
  top: 210px;
  left: -175px;
  z-index: -1;
  background: url('/картинки/svg1.png') no-repeat;
  background-size: 100%;
  width: 1200px;
  height: 184px;
}

.doctor {
  width: 1160px;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
  gap: 10;
}

.doctor1 {
  background: linear-gradient(180.00deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 76%, rgba(0, 0, 0, 0.3) 100%), url('/картинки/cd7921075e577bf359995a177639eeb55240419d.png') left no-repeat;
  background-size: contain;
  width: 380px;
  height: 450px;
  border-radius: 20px;
}

.doc1 {
  width: 340px;
  height: 76px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 2rem;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  padding: 270px 20px 0px 20px;
}

.doc1-1 {
  width: 340px;
  height: 24px;
  color: var(--white 90%, rgba(250, 248, 247, 0.9));
  font-family: Onest;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0px 20px 0px 20px;
}

.doctor2 {
  background: linear-gradient(180.00deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 74%, rgba(0, 0, 0, 0.7) 100%), url('/картинки/4f07613f42bc4c3d3982314278468c378ca7704b.jpg') center no-repeat;
  background-size: 100%;
  width: 380px;
  height: 450px;
  border-radius: 20px;
}

.doc2 {
  width: 360px;
  height: 76px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 2rem;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  padding: 270px 20px 0px 20px;
}

.doc2-2 {
  width: 256px;
  height: 24px;
  color: var(--white 90%, rgba(250, 248, 247, 0.9));
  font-family: Onest;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0px 20px 0px 20px;
}

.doctor3 {
  background: linear-gradient(180.00deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 77%, rgba(0, 0, 0, 0.7) 100%), url('/картинки/8eca36c7c594ae4f7355c09c27e9460d64b2c38c.jpg') right no-repeat;
  background-size: 100%;
  width: 380px;
  height: 450px;
  border-radius: 20px;
}

.doc3 {
  width: 360px;
  height: 76px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Onest;
  font-size: 2rem;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  padding: 270px 20px 0px 20px;
}

.doc3-3 {
  width: 256px;
  height: 24px;
  color: var(--white 90%, rgba(250, 248, 247, 0.9));
  font-family: Onest;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0px 20px 0px 20px;
}

.appointment {
  position: relative;
  top: 290px;
  left: 20px;
  background: url('/картинки/97e02a9bc0432e7d06d6a47cb6ea801a3d00fc7f.jpg') no-repeat;
  width: 1165px;
  height: 820px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10;
  border-radius: 20px;
  color: white;
}

.vector-6 {
  position: absolute;
  top: -45px;
  z-index: 1;
  background: url('/картинки/svg2.png') no-repeat;
  background-size: 100%;
  width: 123px;
  height: 94px;
}

.text3 {
  width: 532px;
  height: 699px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50;
  padding-right: 80px;
}

.appoint {
  width: 532px;
  height: 58px;
  color: rgba(255, 255, 255, 1);
  font-family: Onest;
  font-size: 3rem;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: right;
  padding: 40px 80px 0px 0px;
}

.right-now {
  width: 299px;
  height: 35px;
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: Great Vibes;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0%;
  padding: 0px 313px 0px 0px;
}

.application {
  width: 494px;
  height: 96px;
  color: var(--white 90%, rgba(250, 248, 247, 0.9));
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0px 118px 20px 0px;
}

.footer-appointment-btn {
  display: inline-block;
  width: 484px;
  height: 78px;
  left: 20px;
  border-radius: 14px;
  gap: 10px;
  opacity: 1;
  padding: 27px 20px 27px 20px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  background-color: rgba(231, 99, 42, 1);
  color: white;

}


.promotion3-btn {
  position: relative;
  right: -1050px;
  width: 46px;
  height: 46px;
  top: 96px;
  opacity: 1;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  background-color: rgba(111, 140, 95, 0.5);
  color: white;
}

.promotion4-btn {
  position: relative;
  right: -1105px;
  width: 46px;
  height: 46px;
  top: 50px;
  opacity: 1;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  background-color: rgba(111, 140, 95, 1);
  color: white;
}

.end {
  position: relative;
  top: 410px;
  left: 20px;
  background: url('/картинки/photo_5449835967436419853_x.jpg') right no-repeat;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  width: 1160px;
  height: 559px;
  display: flex;
  opacity: 1;
  border-radius: 20px;
}

.logo1 {
  background: url('/картинки/logo.jpg') left no-repeat;
  width: 140px;
  height: 120px;
  padding-right: 253px;
  padding-top: 80px;
}

.inf-left {
  width: 420px;
  height: 479px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 60px;
}

.contacts {
  width: 380px;
  height: 53px;
  font-family: Onest;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 32px;
  padding: 10px 13px 0px 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5;

}

.time {
  position: relative;
  top: -15px;
  width: 73px;
  height: 12px;
  color: gray;
  font-family: Onest;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 0px;
  letter-spacing: 0px;
}

.links {
  width: 395px;
  height: 0px;
  font-size: 0.6rem;
  font-family: Onest;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  border-top: 1.6px solid rgba(30, 30, 30, 0.3);
  padding-top: 25px;
}

a {
  color: gray;
  text-decoration: none;
}