header{
width: 1200px;
height: 108px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 30px 20px 30px 20px;
border-radius: 0px 0px 30px 30px;
background: var(--white, rgba(255, 255, 255, 1));
}

.Доктор-тома{
width: 1200px;
height: 993px;
opacity: 1;
top: -5px;
background: url('/картинки/фон.jpg') no-repeat center;
  padding: 4rem 2rem;
  text-align: center;
}
.centr{
width: 827px;
height: 332px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 40;
 text-align: center;
h1{
width: 827px;
height: 96px;
color: var(--white, rgba(255, 255, 255, 1));
font-family: Onest;
font-size: 56px;
font-weight: 400;
line-height: 67px;
letter-spacing: 0px;
 text-align: center;
}

.text1{
  /* Полный спектр услуг: от диагностики и лечения, до медицинского сопровождения питомцев разного вида и возраста */
width: 521px;
height: 96px;
color:rgba(250, 248, 247, 0.9);
font-family: Onest;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0px;
 text-align: center;
}
}
.appointment-btn {
  display: inline-block;
  width: 380px;
height: 60px;
top: 20px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;
    border: none;
    border-radius: 12px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    
    background-color: darkgreen;
    color: white;
   
}

.appointment-btn:hover {
width: 380px;
height: 60px;
top: 143px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;

    transform: translateY(-3px);
    background-color: orangered;
}

.appointment-btn:active {
  width: 380px;
height: 60px;
top: 277px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;
transform: translateY(-1px);
     background-color: rgba(111, 140, 95, 1);
   color: white;
}

.акции-декабря{
 width: 1200px;
height: 580px;
top: 918px;
opacity: 1;
border-radius: 20px;
padding-top: 40px;
padding-right: 20px;
padding-bottom: 70px;
padding-left: 20px;
gap: 30px;
box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
background: var(--white, rgba(255, 255, 255, 1));
}
.item{
/* list */
width: 1160px;
height: 394px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 10;

.image-text-container{
    display: inline-block;
  background: url('/картинки/item.jpg') left no-repeat;
width: 380px;
height: 394px;
gap: 58;
padding: 10px 0px 30px 20px;
border-radius: 20px;
}
.image-text-container2{
    display: inline-block;
  background: url('/картинки/item\ \(1\).jpg') center no-repeat;
  background-position: center;
  width: 380px;
height: 394px;
gap: 30;
padding: 10px 0px 30px 20px;
border-radius: 20px;
}
.image-text-container3{
  display: inline-block;
  background: url('/картинки/item\ \(2\).jpg') right no-repeat;
  /* item */
width: 380px;
height: 394px;
/* Автолейаут */
gap: 30;
padding: 10px 0px 30px 20px;
border-radius: 20px;
}
}
.about{
width: 90px;
height: 24px;
color: rgba(250, 248, 247, 0.9);
font-family: Onest;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: center;
 }
 .preim{
display: ruby-text-container;
/* content */
width: 568px;
height: 360px;
/* Автолейаут */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 40;
color:rgba(255, 255, 255, 1);
 }
 p3{
  /* Наша клиника открылась в 2023 году. Специалисты клиники уделяют особое внимание профилактике хронических заболеваний и вакцинации */
width: 568px;
height: 128px;
color:rgba(250, 248, 247, 0.9);

font-family: Onest;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0px;
text-align: left;
 }
 .advantage-item1{
  background: url('/картинки/сard.jpg') no-repeat;
width: 380px;
height: 450px;
display: inline-block;
padding: 30px 20px 30px 20px;
border-radius: 20px;
}
 .advantage-item2{
  background: url('/картинки/сard\ \(1\).jpg') no-repeat;
display: inline-block;
width: 770px;
height: 450px;
padding: 30px 20px 30px 20px;
border-radius: 20px;
 }
  .advantage-item3{
    background: url('/картинки/сard\ \(2\).jpg') no-repeat;
    display: inline-flex;
    /* сard */
width: 380px;
height: 450px;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 30px 20px 30px 20px;
border-radius: 20px;
  }
   .advantage-item4{
    background: url('/картинки/сard\ \(3\).jpg') no-repeat;
/* сard */
width: 380px;
height: 450px;
/* Автолейаут */
display: inline-flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 30px 20px 30px 20px;
border-radius: 20px;
 }
 .advantage-item5{
  background: url('/картинки/сard\ \(4\).jpg') no-repeat;
width: 380px;
height: 450px;
display: inline-flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 30px 20px 30px 20px;
border-radius: 20px;
}
.advantage-item6{
  background: url('/картинки/сard\ \(5\).jpg') no-repeat;
  display: inline-flex;
width: 770px;
height: 450px;
padding: 30px 20px 30px 20px;
border-radius: 20px;
}
.advantage-item7{
background: url('/картинки/сard\ \(6\).jpg') no-repeat;
/* сard */
width: 380px;
height: 450px;
/* Автолейаут */
display: inline-flex;
padding: 30px 20px 30px 20px;
border-radius: 20px;
}
.Вызов-врача-на-дом{
  background: url('/картинки/98fe77bf75c042f296dfeb9e936f01fd4d544ea4-_1_.jpg') no-repeat;
background-size: contain;
width: 1160px;
height: 922px;
top: 3588px;
left: 20px;
justify-content: flex-end;
gap: 10;
padding: 80px;
  text-align: right;
      align-items: right;
}
.text2{
width: 484px;
height: 142px;

gap: 20;
  text-align: right;

h2{
  /* Вызов врача на дом */
width: 484px;
height: 58px;
color: rgba(255, 255, 255, 1);
font-family: Onest;
font-size: 48px;
letter-spacing: 0px;
  text-align: right;
}
p{
  /* Вашему питомцу требуется неотложная помощь? Приедем в течение 40 минут! */
width: 482px;
height: 64px;
color: rgba(255, 255, 255, 1);
font-family: Onest;
font-size: 24px;
letter-spacing: 0px;
align-items: right;
}
}
input{
  float: right;
   clear: both;
width: 484px;
height: 78px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: right;
gap: 10;
padding: 27px 20px 27px 20px;
box-sizing: border-box;
border: 1px solid var(--white, rgba(255, 255, 255, 1));
border-radius: 14px;
}
/* Кнопка отправки формы */
.submit-btn,
.form-submit {
    display: inline-flex;
    align-items: right;
width: 484px;
height: 292px;
gap: 20px;
opacity: 1;

border-radius: 14px;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;
   font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;

    
    background-color: orangered;
    color: white;
}

.submit-btn:hover,
.form-submit:hover {
width: 484px;
height: 292px;
top: 150px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;
 transform: translateY(-3px);
    background-color: darkgreen;
}

.submit-btn:active,
.form-submit:active {
width: 484px;
height: 292px;
top: 280px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;
  transform: translateY(-1px);
   background-color: white;
   color: orangered;
}
.Услуги{
  /* services */
width: 1160px;
height: 745px;
/* Автолейаут */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 60;
color: rgba(255, 255, 255, 1);
}
.ysl{
  /* caption+title */
width: 1160px;
height: 207px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 291;
h2{
  /* Мы предоставляем */
width: 469px;
height: 58px;
font-family: Onest;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0px;
text-align: left;
}
}
.list{
  /* list */
width: 1214px;
height: 282px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 10;
}
.инстр{
  display: inline-block;
  background: url('/картинки/Services.jpg') no-repeat;
width: 283px;
height: 282px;

padding: 30px 10px 20px 20px;
border-radius: 30px;
} 
.исследования{
  display: inline-block;
  background: url('/картинки/Services\ \(1\).jpg') no-repeat;
width: 283px;
height: 282px;
display: flex;

padding: 30px 10px 20px 20px;
border-radius: 20px;

}
.хирургия{
  display: inline-block;
  background: url('/картинки/Services\ \(2\).jpg') no-repeat;
width: 283px;
height: 282px;

padding: 30px 10px 20px 20px;
border-radius: 20px;
backdrop-filter: blur(18px);
}
.Теапия{
  display: inline-block;
  background: url('/картинки/Services\ \(3\).jpg') no-repeat;
width: 283px;
height: 282px;

padding: 30px 10px 20px 20px;
border-radius: 20px;
backdrop-filter: blur(18px);
}
/* Кнопка "ВСЕ УСЛУГИ" */
.all-services-btn {
    display: inline-flex;
    position:relative;
       text-align: center;
    width: 350px;
height: 60px;
top: 20px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 18px;
padding-right: 20px;
padding-bottom: 18px;
padding-left: 20px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    
    background-color: orangered;
    color: white;
}

.all-services-btn:hover {
  width: 350px;
height: 60px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 18px;
padding-right: 20px;
padding-bottom: 18px;
padding-left: 20px;
    background: rgba(111, 140, 95, 1);
    color: white;
}

.all-services-btn:active {
  width: 350px;
height: 60px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 18px;
padding-right: 20px;
padding-bottom: 18px;
padding-left: 20px;

    transform: translateY(-1px);
    background-color: white;
   color: orangered;
}

.Специалисты{
  /* specialists */
width: 1160px;
height: 666px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 60;
text-align: center;
  P{
    /* Специалисты */
width: 116px;
height: 24px;
color: rgba(255, 255, 255, 1);

font-family: Onest;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: center;
  }
  .опыт{
    /* Каждый из наших врачей */
width: 613px;
height: 58px;
color:rgba(255, 255, 255, 1);

font-family: Onest;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0px;

  }

.doctor{
width: 1160px;
height: 450px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10;
}
.doctor1{
  background: url('/картинки/Врач\ 1.jpg') left no-repeat;
width: 380px;
height: 450px;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: 20;
padding: 0px 20px 30px 20px;
border-radius: 20px;
}
.doctor2{
  background: url('/картинки/Врач\ 2.jpg') center no-repeat;
width: 380px;
height: 450px;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: 20;
padding: 0px 0px 30px 20px;
border-radius: 20px;
}
.doctor3{
  background: url('/картинки/Врач\ 3.jpg') right no-repeat;
  width: 380px;
height: 450px;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: 20;
padding: 0px 20px 30px 20px;
border-radius: 20px;
}
}
.Запишитесь-на-прием{
  background: url('/картинки/97e02a9bc0432e7d06d6a47cb6ea801a3d00fc7f.jpg') no-repeat;
width: 1060px;
height: 820px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-end;
gap: 10;
padding: 80px;
border-radius: 20px;
color: white;
h2{
width: 532px;
height: 58px;
color:rgba(255, 255, 255, 1);

font-family: Onest;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0px;
text-align: right;
}
p{
width: 494px;
height: 96px;
color: var(--white 90%, rgba(250, 248, 247, 0.9));
font-family: Onest;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0px;
text-align: left;
}
p1{
  /* *Нажимая на кнопку, вы соглашаетесь с политикой конфиденциальности. */
width: 532px;
height: 12px;
color: rgba(250, 248, 247, 0.9);
font-family: Onest;
font-size: 10px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0px;
text-align: left;
padding-top: 20px;
text-align: right;
}
}
/* Кнопка в футере - ЗАПИСАТЬСЯ НА ПРИЕМ */
.footer-appointment-btn {
    display: inline-block;
width: 484px;
height: 78px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding: 27px 20px 27px 20px;
border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    transition: all 0.3s ease;
    
    background-color: orangered;
    color: white;
    
}

.footer-appointment-btn:hover {
  width: 484px;
height: 78px;
top: 150px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;

    transform: translateY(-3px);
    background-color: darkgreen;
    color: white;
}

.footer-appointment-btn:active {
  width: 484px;
height: 78px;
top: 280px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;

    transform: translateY(-1px);
   background-color: white;
   color: orangered;
}

/* Специальные стили для кнопок с акциями */
.promotion-btn {
  /* ButtonRight */
width: 46px;
height: 46px;
/* Автолейаут */
flex-direction: row;
justify-content: flex-end;


    display: inline-block;
width: 46px;
height: 46px;
top: 20px;
left: 20px;
opacity: 1;

    border: none;
    border-radius: 12px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    
    background-color:darkgreen ;
    color:white;
   align-items: right;
}

.promotion-btn:hover {
  width: 46px;
height: 46px;
top: 83px;
left: 20px;
opacity: 1;

    transform: translateY(-3px);
    background-color: orangered;
    color: white;
}

.promotion-btn:active {
  width: 46px;
height: 46px;
top: 146px;
left: 20px;
opacity: 1;

    transform: translateY(-1px);
    background-color: white;
    color: orangered;
}
.end{
  background-color: rgba(255, 255, 255, 1);
width: 1160px;
height: 559px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
opacity: 1;
top: 7221px;
left: 20px;
border-radius: 20px;
.inf-left{
  .logo1{
    background: url('/картинки/logo.jpg') left no-repeat;
width: 140px;
height: 120px;  
  }
  /* container */
width: 420px;
height: 479px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
h4{
  /* Frame 738001012 */
width: 380px;
height: 53px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 5;
}
}

.Rectangle{
background: url('/картинки/Rectangle\ 98.jpg') right no-repeat;
background-position: right;
width: 585px;
height: 559px;
opacity: 1;
top: 7221px;
left: 595px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;

border-radius: 0px 20px 20px 0px;

}
.ykaz{
  background: url('/картинки/Icons\ _\ Icons\ _\ Light\ _\ Pin.jpg') right no-repeat;
 width: 50px;
height: 50px;
opacity: 1;
top: 7475px;
left: 883px;

}
}

p1{
width: 133px;
height: 25px;
    color: darkgreen;
font-family: Onest;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0px;
text-align: center;
 }
 
 
 p2{
  /* и забота о животных— */
width: 529px;
height: 35px;
color: var(--white, rgba(255, 255, 255, 1));

font-family: Gogol;
font-size: 50px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0%;
text-align: left;
 }