@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Onest:wght@100..900&display=swap');
html{
  font-size: 16px;
  width: 1200px;
  height: 7880px;
}
header{
width: 1200px;
height: 108px;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: center;
padding: 30px 20px 0px 20px;
border-radius: 0px 0px 30px 30px;
background: var(--white, rgba(255, 255, 255, 1));
}
.logo{
  background: url('/картинки/Frame\ 738001144.jpg');
  /* Frame 738001144 */
width: 254px;
height: 54px;

}
.addres{
  color: black;
  /* Подольск, ул.Чайковского, 48А */
width: 283px;
height: 24px;
font-family: Onest;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
}
.telephone{
  color: black;
  /* Phone */
width: 150px;
height: 24px;
font-family: Onest;
font-size: 18px;
font-weight: 400;
letter-spacing: 0px;
}
.menu{
  background: url('/картинки/BurgerMenu.png');
  /* BurgerMenu */
width: 35px;
height: 16px;
/* Auto layout */
display: flex;
gap: 10;
}
body{
  background-color: rgba(73, 105, 55, 1);
  color: aliceblue;
}
.doctor-toma{
width: 1200px;
height: 993px;
opacity: 1;
top: -5px;
background: url('/картинки/фон.jpg') no-repeat center;
  text-align: center;
}
.centr{
width: 827px;
height: 332px;
padding-top: 531px;
padding-left: 187px;
padding-bottom: 130px;
padding-right: 186px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 40;
 text-align: center;
h1{
width: 827px;
height: 96px;
color: var(--white, rgba(255, 255, 255, 1));
font-family: Onest;
font-size: 3.5rem;
font-weight: 400;
line-height: 67px;
letter-spacing: 0px;
 text-align: center;
}
.text1{
  /* Полный спектр услуг: от диагностики и лечения, до медицинского сопровождения питомцев разного вида и возраста */
width: 521px;
height: 96px;
color:rgba(250, 248, 247, 0.9);
font-family: Onest;
font-size: 1.5rem;
font-weight: 400;
line-height: 29px;
letter-spacing: 0px;
 text-align: center;
}
}
.appointment-btn {
  display: inline-block;
  width: 380px;
height: 60px;
top: 20px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;
    border: none;
    border-radius: 12px;
    font-family: 'Arial', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    
    background-color: darkgreen;
    color: white;
   
}

.appointment-btn:hover {
width: 380px;
height: 60px;
top: 143px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;

    transform: translateY(-3px);
    background-color: orangered;
}

.appointment-btn:active {
  width: 380px;
height: 60px;
top: 277px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;
transform: translateY(-1px);
     background-color: rgba(111, 140, 95, 1);
   color: white;
}

.december-item{
 width: 1200px;
height: 580px;
top: 918px;
opacity: 1;
border-radius: 20px;
padding-top: 40px;
padding-right: 20px;
padding-bottom: 70px;
padding-left: 20px;
gap: 30px;
box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
background: var(--white, rgba(255, 255, 255, 1));
margin-bottom: 15px;
}
.button{
  /* title */
width: 1160px;
height: 46px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.dec{
  /* button */
width: 173px;
height: 33px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
color: green;
padding: 27px 20px 27px 20px;
box-sizing: border-box;
border: 1px solid var(--green, rgba(73, 105, 55, 1));
border-radius: 50px;
}
.item{
/* list */
width: 1200px;
height: 394px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
margin-top: 50px;
gap: 10;
}

.image-text-container{
    display: inline-block;
  background: url('/картинки/item.jpg') left no-repeat;
width: 380px;
height: 394px;
gap: 58;
padding: 10px 0px 30px 20px;
border-radius: 20px;
}
.image-text-container2{
    display: inline-block;
  background: url('/картинки/item\ \(1\).jpg') center no-repeat;
  background-position: center;
  width: 380px;
height: 394px;
gap: 30;
padding: 10px 0px 30px 20px;
border-radius: 20px;
}
.image-text-container3{
  display: inline-block;
  background: url('/картинки/item\ \(2\).jpg') right no-repeat;
  /* item */
width: 380px;
height: 394px;
/* Автолейаут */
gap: 30;
padding: 10px 0px 30px 20px;
border-radius: 20px;
}
.promotion1-btn {
position: relative; right: -460px;
width: 46px;
height: 46px;

opacity: 1;

    border: none;
    border-radius: 12px;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    
    background-color:rgba(111, 140, 95, 0.5) ;
    color:white;
}
.promotion2-btn {
position: relative; right: -30px;
width: 46px;
height: 46px;
opacity: 1;

    border: none;
    border-radius: 12px;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    
    background-color: rgba(111, 140, 95, 1);
    color:white;
}

.info{
  /* content */
width: 1160px;
height: 460px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 263;
margin-bottom: 50px;
}
.about{
  /* caption */
width: 130px;
height: 33px;
gap: 10;
padding: 27px 20px 27px 20px;
color: rgba(250, 248, 247, 0.9);
font-size: 1.1rem;
font-weight: 400;
line-height: 22px;
 }
 .preim{
/* content */
width: 568px;
height: 58px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 40;
color:rgba(255, 255, 255, 1);

 }
 .principle{
width: 526px;
height: 58px;
color: var(--white, rgba(255, 255, 255, 1));
font-family: Onest;
font-size: 3rem;
font-weight: 700;
line-height: 58px;
letter-spacing: 0px;
padding: 0px 241px 50px 393px;
 }
 .care{
  font-family:Great Vibes;
color: var(--white, rgba(255, 255, 255, 1));
font-weight: 400;
line-height: 60px;
font-size: 50px;
 }
 .inf{
  width: 568px;
  /* Наша клиника открылась в 2023 году. Специалисты клиники уделяют особое внимание профилактике хронических заболеваний и вакцинации */
height: 8px;
color:rgba(250, 248, 247, 0.9);
font-family: Onest;
font-size: 1.5rem;
letter-spacing: 0px;
padding: 200px 241px 120px 330px;
 }
.advantage{
  /* advantages */
width: 1160px;
height: 1370px;
/* Auto layout */
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: flex-start;
gap: 10 10;
}
 .advantage1{
  background: url('/картинки/Без\ названия7_20251205135223.jpg') no-repeat;
  background-size: contain;
width: 380px;
height: 450px;
border-radius: 20px;
}
.adv1{
  /* Современное оборудование */
width: 340px;
height: 76px;
color: var(--white, rgba(255, 255, 255, 1));

font-family: 'Onest';
font-size: 32px;
font-weight: 500;
line-height: 42px;
letter-spacing: 0px;
text-align: left;
padding: 122px 20px 0px 20px;
}
.adv1-1{
  /* Проводим диагностику и лечение пациентов на самом современном оборудовании */
width: 340px;
height: 128px;
color: var(--white 90%, rgba(250, 248, 247, 0.9));

font-family: Onest;
font-size: 24px;
font-weight: 400;
line-height: 32px;
text-align: left;
padding: 30px 20px 30px 20px;
}
 .advantage2{
  background: url('/картинки/82a7719bf88b452451e85d1d86fc32243ab47f9b.jpg') no-repeat;
    background-size:cover;
width: 770px;
height: 450px;
border-radius: 20px;
 }
 .adv2{
  /* Хирургия 24/7 */
width: 404px;
height: 38px;
color: var(--white, rgba(255, 255, 255, 1));

font-family: Onest;
font-size: 32px;
font-weight: 500;
line-height: 38px;
text-align: left;
padding: 5px 346px 0px 20px
 }
 .adv2-2{
  /* Выполняем плановые, срочные и экстренные операции любой сложности круглосуточно */
width: 367px;
height: 96px;
color: var(--white 90%, rgba(250, 248, 247, 0.9));

font-family: Onest;
font-size: 24px;
font-weight: 320;
line-height: 30px;
letter-spacing: 0px;
text-align: left;
padding: 224px 383px 30px 20px;
 }
  .advantage3{
    background: url('/картинки/Без\ названия8_20251205135510.jpg') no-repeat;
    background-size:cover;
    /* сard */
width: 380px;
height: 450px;
border-radius: 20px;
  }
  .adv3{
    /* Экстренная помощь */
width: 289px;
height: 76px;
color: var(--white, rgba(255, 255, 255, 1));

font-family: Onest;
font-size: 32px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0px;
text-align: left;
padding: 132px 71px 0px 20px;
  }
  .adv3-3{
    /* Оперативно принимаем, оперируем и лечим экстренного больного вне очереди */
width: 303px;
height: 128px;
color: var(--white 90%, rgba(250, 248, 247, 0.9));

font-family: Onest;
font-size: 24px;
font-weight: 320;
line-height: 31px;
letter-spacing: 0px;
text-align: left;
padding: 24px 57px 30px 20px;
  }
   .advantage4{
    background-color: rgba(231, 99, 42, 1);
/* сard */
width: 380px;
height: 450px;
border-radius: 20px;
 }
 .adv4{
  /* Биохимический анализ крови */
width: 277px;
height: 76px;
color: var(--white, rgba(255, 255, 255, 1));

font-family: Onest;
font-size: 32px;
font-weight: 500;
text-align: left;
padding: 5px 83px 0px 20px;
 }
.adva{
/* за 15 минут! */
width: 316px;
height: 35px;
color: var(--white, rgba(255, 255, 255, 1));

font-family: Great Vibes;
font-size: 50px;
font-weight: 400;
text-align: left;
padding: 0px 44px 0px 20px;
 }
 .adv4-4{
  /* Результаты анализов в кратчайшие сроки. Количество показателей можно выбрать */
width: 340px;
height: 128px;
color: var(--white 90%, rgba(250, 248, 247, 0.9));

font-family: Onest;
font-size: 24px;
font-weight: 320;
line-height: 32px;
letter-spacing: 0px;
text-align: left;
padding: 47px 20px 30px 20px;
 }
 .advantage5{
background: url('/картинки/Без\ названия9_20251205135703.jpg') no-repeat;
background-size:cover;
width: 380px;
height: 450px;
border-radius: 20px;
}
.adv5{
  /* Собственная база доноров */
width: 277px;
height: 76px;
color: var(--white, rgba(255, 255, 255, 1));

font-family: Onest;
font-size: 32px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0px;
text-align: left;
padding: 132px 83px 0px 20px;
}
.adv5-5{
  /* Всегда в наличии цельная кровь, эритроцитарная масса, плазма крови кошек и собак */
width: 331px;
height: 128px;
color: var(--white 90%, rgba(250, 248, 247, 0.9));

font-family: Onest;
font-size: 24px;
font-weight: 320;
line-height: 30px;
letter-spacing: 0px;
text-align: left;
padding: 25px 29px 30px 20px;
}
.advantage6{
background: url('/картинки/09584c1a2d2224c60e28b18fc87a5aa844e8ee5a.jpg') no-repeat;
background-size:cover;
width: 770px;
height: 450px;
border-radius: 20px;
}
.adv6{
  /* Постановка катетера в яремную вену */
width: 356px;
height: 76px;
color: var(--white, rgba(255, 255, 255, 1));

font-family: Onest;
font-size: 32px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0px;
text-align: left;
padding: 5px 394px 0px 20px;
}
.adv6-6{
  /* Поставим катетер в яремную вену вашему питомцу с максимальной осторожностью */
width: 420px;
height: 96px;
color: var(--white 90%, rgba(250, 248, 247, 0.9));

font-family: Onest;
font-size: 24px;
font-weight: 320;
line-height: 29px;
letter-spacing: 0px;
text-align: left;
padding: 200px 330px 30px 20px;
}
.advantage7{
background-color: rgba(111, 140, 95, 1);
/* сard */
width: 380px;
height: 450px;
/* Автолейаут */

border-radius: 20px;
}
.adv7{
  /* Лечение, хирургия мелкого рогатого скота */
width: 340px;
height: 114px;
color: var(--white, rgba(255, 255, 255, 1));

font-family: Onest;
font-size: 32px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0px;
text-align: left;
padding:  123px 20px 0px 20px;
}
.adv7-7{
  /* Успешно лечим, оперируем лошадей и остальных сельско-хозяйственных животных */
width: 340px;
height: 128px;
color: var(--white 90%, rgba(250, 248, 247, 0.9));

font-family: Onest;
font-size: 24px;
font-weight: 320;
line-height: 29px;
letter-spacing: 0px;
text-align: left;
padding: 7px 20px 30px 20px;
}
.call-home{
  background: url('/картинки/98fe77bf75c042f296dfeb9e936f01fd4d544ea4-_1_.jpg') no-repeat;
background-size: contain;
border-radius: 23px;
width: 1160px;
height: 922px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
gap: 10;
padding: 80px;


}

.text2{
width: 484px;
height: 494px;
opacity: 1;
gap: 60px;
h2{
  /* Вызов врача на дом */
width: 484px;
height: 58px;
color: rgba(255, 255, 255, 1);
font-family: Onest;
font-size: 3rem;
letter-spacing: 0px;
  text-align: right;
}
p{
  /* Вашему питомцу требуется неотложная помощь? Приедем в течение 40 минут! */
width: 482px;
height: 64px;
color: rgba(255, 255, 255, 1);
font-family: Onest;
font-size: 1.5rem;
letter-spacing: 0px;
align-items: right;
}
}
input{
     background: transparent; 
  float:right;
   clear: both;
width: 484px;
height: 78px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: right;
text-align: left;
color: aliceblue;
gap: 10;
box-sizing: border-box;
border: 1px solid var(--white, rgba(255, 255, 255, 1));
border-radius: 14px;
}
/* Кнопка отправки формы */
.submit-btn,
.form-submit {
    display: inline-flex;
    align-items: right;
width: 484px;
height: 292px;
gap: 20px;
opacity: 1;

border-radius: 14px;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;
   font-family: 'Arial', sans-serif;
    font-size: 1.14rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;

    
    background-color: orangered;
    color: white;
}

.submit-btn:hover,
.form-submit:hover {
width: 484px;
height: 292px;
top: 150px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;
 transform: translateY(-3px);
    background-color: darkgreen;
}

.submit-btn:active,
.form-submit:active {
width: 484px;
height: 292px;
top: 280px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;
  transform: translateY(-1px);
   background-color: white;
   color: orangered;
}
.servises{
  /* services */
width: 1160px;
height: 745px;
/* Автолейаут */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 60;
color: rgba(255, 255, 255, 1);
}
.caption{
  /* caption+title */
width: 1160px;
height: 207px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 291;
}
.ysl{
/* button */
width: 99px;
height: 33px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 27px 20px 27px 20px;
}
.container{
/* Group 68 */
width: 577px;
height: 207px;
}
.help{
width: 577px;
height: 58px;
font-family: Onest;
font-size: 3rem;
font-weight: 700;
line-height: 45px;
letter-spacing: 0px;
text-align: left;
padding-left: 390px;
padding-top: 20px;
padding-bottom: 166px;
}
.urget{
  /* срочную качественную */
width: 479px;
height: 35px;
color: var(--white, rgba(255, 255, 255, 1));

font-family: Great Vibes;
font-size: 50px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0%;
text-align: left;
}
.list{
  /* list */
width: 1214px;
height: 282px;
/* Auto layout */
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: flex-start;
gap: 10 ;
padding: 60px 0px 30px 0px;
}
.инстр{

  background: url('/картинки/Services.jpg') no-repeat;
width: 283px;
height: 282px;
border-radius: 20px;

} 
.исследования{

  background: url('/картинки/Services\ \(1\).jpg') no-repeat;
width: 283px;
height: 282px;
border-radius: 20px;
}
.хирургия{

  background: url('/картинки/Services\ \(2\).jpg') no-repeat;
width: 283px;
height: 282px;
border-radius: 20px;



}
.Теапия{

  background: url('/картинки/Services\ \(3\).jpg') no-repeat;
width: 283px;
height: 282px;
border-radius: 20px;



}
/* Кнопка "ВСЕ УСЛУГИ" */
.all-services-btn {
    display: inline-flex;
    position:relative;
       text-align: center;
    width: 350px;
height: 60px;
top: 20px;
left: 405px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 18px;
padding-right: 20px;
padding-bottom: 18px;
padding-left: 20px;
    border: none;
    border-radius: 12px;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    
    background-color: orangered;
    color: white;
}

.all-services-btn:hover {
  width: 350px;
height: 60px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 18px;
padding-right: 20px;
padding-bottom: 18px;
padding-left: 20px;
    background: rgba(111, 140, 95, 1);
    color: white;
}

.all-services-btn:active {
  width: 350px;
height: 60px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 18px;
padding-right: 20px;
padding-bottom: 18px;
padding-left: 20px;

    transform: translateY(-1px);
    background-color: white;
   color: orangered;
}

.specialists{
  /* specialists */
width: 1160px;
height: 666px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 60;
text-align: center;
margin-bottom: 200px;
}
  P{
    /* Специалисты */
width: 116px;
height: 24px;
color: rgba(255, 255, 255, 1);

font-family: Onest;
font-size: 1.13rem;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: center;
  }
  .container2{
    /* Group 65 */
width: 779px;
height: 126px;
padding-left: 381px;
padding-bottom: 120px;
  }
  .experience{
    /* Каждый из наших врачей */
width: 610px;
height: 58px;
color:rgba(255, 255, 255, 1);

font-family: Onest;
font-size: 3rem;
font-weight: 700;
line-height: 58px;
letter-spacing: 0px;

  }
.exp{
  /* имеет опыт работы */
width: 478px;
height: 35px;
color: var(--white, rgba(255, 255, 255, 1));

font-family: Great Vibes;
font-size: 50px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0%;
text-align: left;
}
.doctor{
  width: 1160px;
height: 450px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items:end;
gap: 10;
}
.doctor1{
  background: url('/картинки/Врач\ 1.jpg') left no-repeat;
width: 380px;
height: 450px;
border-radius: 20px;

}
.doctor2{
  background: url('/картинки/Врач\ 2.jpg') center no-repeat;
width: 380px;
height: 450px;

border-radius: 20px;
}
.doctor3{
  background: url('/картинки/Врач\ 3.jpg') right no-repeat;
  width: 380px;
height: 450px;

border-radius: 20px;
}
.appointment{
  background: url('/картинки/97e02a9bc0432e7d06d6a47cb6ea801a3d00fc7f.jpg') no-repeat;
width: 1160px;
height: 820px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-end;
gap: 10;
border-radius: 20px;
color: white;
margin-bottom: 150px;
}
.appoint{
width: 532px;
height: 58px;
color:rgba(255, 255, 255, 1);

font-family: Onest;
font-size: 3rem;
font-weight: 700;
line-height: 58px;
letter-spacing: 0px;
text-align: right;
padding: 80px 80px 0px 548px;
}
.right-now{
  /* прямо сейчас! */
width: 299px;
height: 35px;
color: var(--white, rgba(255, 255, 255, 1));

font-family: Great Vibes;
font-size: 50px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0%;
padding: 0px 313px 0px 0px;
}
.application{
width: 494px;
height: 96px;
color: var(--white 90%, rgba(250, 248, 247, 0.9));
font-family: Onest;
font-size: 1.5rem;
font-weight: 400;
line-height: 29px;
letter-spacing: 0px;
text-align: left;
padding: 50px 118px 0px 548px;
}
p1{
  /* *Нажимая на кнопку, вы соглашаетесь с политикой конфиденциальности. */
width: 532px;
height: 12px;
color: rgba(250, 248, 247, 0.9);
font-family: Onest;
font-size: 0.6rem;
font-weight: 400;
line-height: 12px;
letter-spacing: 0px;
text-align: left;
padding-top: 20px;
text-align: right;
}

/* Кнопка в футере - ЗАПИСАТЬСЯ НА ПРИЕМ */
.footer-appointment-btn {
    display: inline-block;
width: 484px;
height: 78px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding: 27px 20px 27px 20px;
border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    transition: all 0.3s ease;
    
    background-color: orangered;
    color: white;
    
}

.footer-appointment-btn:hover {
  width: 484px;
height: 78px;
top: 150px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;

    transform: translateY(-3px);
    background-color: darkgreen;
    color: white;
}

.footer-appointment-btn:active {
  width: 484px;
height: 78px;
top: 280px;
left: 20px;
border-radius: 14px;
gap: 10px;
opacity: 1;
padding-top: 27px;
padding-right: 20px;
padding-bottom: 27px;
padding-left: 20px;

    transform: translateY(-1px);
   background-color: white;
   color: orangered;
}

/* Специальные стили для кнопок с акциями */
.promotion3-btn {
position: relative; right: -1100px;
width: 46px;
height: 46px;
top: 66px;
opacity: 1;

    border: none;
    border-radius: 12px;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    
    background-color:rgba(111, 140, 95, 0.5);
    color:white;
}
.promotion4-btn {
position: relative; right: -1160px;
width: 46px;
height: 46px;
top: 20px;
opacity: 1;

    border: none;
    border-radius: 12px;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    
    background-color:rgba(111, 140, 95, 1);
    color:white;
}
.end{
  background: url('/картинки/photo_5449835967436419853_x.jpg') right no-repeat;
  background-color: rgba(255, 255, 255, 1);
  color: black;
width: 1160px;
height: 559px;
display: flex;
opacity: 1;
left: 20px;
border-radius: 20px;
margin-bottom: 50px;
}
 .logo1{
    background: url('/картинки/logo.jpg') left no-repeat;
width: 140px;
height: 120px; 
padding-right: 253px;
padding-top: 80px;
  }
.inf-left{
  /* container */
width: 420px;
height: 479px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-end;
}
.contacts{
 /* Frame 738001012 */
width: 380px;
height: 53px;
padding: 10px 13px 20px 80px;
}
.links{
 /* Frame 738001094 */
width: 420px;
height: 0px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
padding: 0px 0px 0px 50px;
}
